html, body, .page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #072903;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    background-color: #008378 ;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.25);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "Jura", sans-serif;
    letter-spacing: 2px;
    color: #e5eca2;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #a80000;
    font-weight: bold;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #a80000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

h1 {
    text-align: center;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    text-align: center;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    text-align: center;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: #dddddd;
    font-family: 'Funnel Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    font-size: large;
}

a {
    color: rgb(71, 71, 255);
    font-family: 'Funnel Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#ChangePageButton {

    width: 150px;
    height: 100px;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

div.MainContent {
    text-align: center;
}

.MyInterestsList {
    display: inline-block;
    text-align: center;
    color: #dddddd;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-family: "PT Serif";
    font-style: italic;
    font-size: larger;
    list-style: none;
}

.MyInterestsList li {
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    padding-left: 1.5em;     /* Space for custom bullet if needed */
    margin-bottom: 0.5em;    /* Spacing between list items */
    color: #dddddd;        /* Optional: white text like your screenshot */
    font-style: italic;      /* Italic text as in your example */
}

.MostRecent {
    text-align: center;
    color: #a30000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NuclearExpertBacking {
    background-image: url("images/JaydenNuclearExpert.png");
    background-repeat: repeat-y;
    background-size: 100%;
}